@font-face {
    font-family: "Lucida Console";
    src: url("/fonts/lucon.ttf");
}
$font-size: 2.35vmin;
$font: "Lucida Console";
#cmd {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: black;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {display: none;}
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: $font-size;
    line-height: calc($font-size + .5vmin);
    font-family: $font;
    padding: 1vmin;
    ::selection{
        background: white;
        color: black;
    }
    p {
        display: inline-block;
    }
    .error{color: red;}
    .success{color:lime;}
    .rainbow{color: linear-gradient(90deg,rgba(255, 0, 0, 1) 0%,rgba(255, 154, 0, 1) 10%,rgba(208, 222, 33, 1) 20%,rgba(79, 220, 74, 1) 30%,rgba(63, 218, 216, 1) 40%,rgba(47, 201, 226, 1) 50%,rgba(28, 127, 238, 1) 60%,rgba(95, 21, 242, 1) 70%,rgba(186, 12, 248, 1) 80%,rgba(251, 7, 217, 1) 90%,rgba(255, 0, 0, 1) 100%);}
    input {
        font-family: $font;
        display: inline-block;
        font-size: $font-size;
        outline: none;
        width: calc(100% - 6vmin);
        border: none;
        background: rgba(0,0,0,0);
        color: white;
    }
}