@import "window";
@import "taskbar";
@import "loading";
@import "startmenu";
@import "bsod";
@import "notification";
@import "misc";
@import "beanshell";
@import "explorer";
@import "cbl";
@import "lib";
//---------------------------
@font-face {
    font-family: "Tahoma";
    src: url("/fonts/tahoma.ttf");
}
//---------------------------
#bxpgui{
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    z-index: 90;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/assets/bg.png");
    background-color: #000;
    #winWrapper{z-index:176;}
    font-family: "Tahoma", sans-serif;
    --toastify-toast-bottom: 48px;
    --toastify-toast-right: 5px;
}
