@font-face {
    font-family: "Tahoma";
    src: url("/fonts/tahoma.ttf");
}
.SafeGraphics {
    top: 0% !important;
    left: 0% !important;
    &,*{
        box-shadow: none !important;
        text-shadow: none !important;
        filter: none !important;
        transition: none !important;
    }
}
#maximizePreview {
    height: calc(100dvh - 60px);
    width: calc(100dvw - 12px);
    position: fixed;
    top: 6px;
    left: 6px;
    background: #ffffff35;
    border: 3px dashed #d0d0d0;
    backdrop-filter: blur(1px);
    transition: .35s;
    opacity: 0;
    pointer-events: none;
    z-index: 159;
}
#shutdownScreen {
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    z-index: 994;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vmin;
    pointer-events:auto;
    display: none;
    #ssIcon {
        height: 35vmin;
        width: 100vmin;
        background-image: url("/assets/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: contain;
        filter: drop-shadow(0px 0px 2vmin #ffffff65);
    }
    h1 {
        width: 100vmin;
        font-family: "Tahoma";
        color: #ffffffd5;
        font-size: 2.5vmin;
        text-align: center;
    }
}
.Toastify__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
}
.Toastify__toast {
    margin-bottom: 5px !important;
}