#maximizePreview {
    height: calc(100dvh - 48px - 2vmin);
    width: calc(100dvw - 2vmin);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 48px + 2.5vmin));
    background: #ffffffb5;
    border: 1px #fff solid;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    transition: .35s;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}