#taskbar {
    height: 48px;
    width: 100dvw;
    $border-radius: 15px;
    // border-top-left-radius: $border-radius;
    // border-top-right-radius: $border-radius;
    // border: #2432b2 1px solid;
    z-index: 99;
    position: fixed;
    bottom: 0%;
    left: 0%;
    overflow: hidden;
    gap: 1vmin;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    // background: linear-gradient(
    //     0deg,
    //     #2939cf 0%,
    //     #2d4ce4 35%,
    //     #2d4ce4 75%,
    //     #4c90ff 100%);
    .tbicon {
        // font-family: "Tahoma";
        width: 25vmin;
        height: calc(100% - 1vmin);
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        // color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1vmin;
        box-sizing: border-box;
        font-size: 2vmin;
        font-weight: lighter;
        line-height: 0;
        border-radius: 5px;
        gap: .5vmin;
        // border: 1px #4c90ff solid;
        user-select: none;
        // background: linear-gradient(
        //     0deg,
        //     #3150eb 0%,
        //     #4c90ff 35%,
        //     #4c90ff 75%,
        //     #649dfb 100%);
        .tbi_icon {
            height: 100%;
            aspect-ratio: 1 / 1;
            // background: #fff;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    #startbtn {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        height: 100%;
        width: auto;
        padding: 0 2vmin;
        border: none;
        font-size: 2.65vmin;
        letter-spacing: .165vmin;
        // font-family: "Tahoma";
        // color: #fff;
        font-style: italic;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        // text-shadow: 1px 1px 1px #000;
        // border-right: 1px #6ea769 solid;
        // background: linear-gradient(
        //     180deg,
        //     #41b04b 0%,
        //     #6ea769 2.5%,
        //     #41b04b 35%,
        //     #41b04b 75%,
        //     #2a6c2a 97.5%,
        //     #41b04b 100%);
        
    }
}