@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma.ttf");
}
.Window {
  opacity: 0;
  transition: 0.5s;
  resize: both;
  min-height: 192px;
  min-width: 256px;
  max-height: 100dvh;
  max-width: 100dvw;
  position: fixed;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3137254902), 4px 4px 3px rgba(0, 0, 0, 0.3137254902), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 2px 2px 2px #000000;
}
.Window h1, .Window h2, .Window h3 {
  margin: 0;
  padding: 0;
}
.Window header {
  position: absolute;
  user-select: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding: 6px;
  gap: 3px;
  cursor: grab;
}
.Window header:active {
  cursor: grabbing;
}
.Window header .min {
  background-image: url("/icons/xp/Minimize.png");
}
.Window header .max {
  background-image: url("/icons/xp/Maximize.png");
}
.Window header .close {
  background-image: url("/icons/xp/Exit.png");
}
.Window header button {
  height: 26px;
  aspect-ratio: 1/1;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9rem;
  padding: 0;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1450980392), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 2px 2px 2px rgba(0, 0, 0, 0.2078431373);
  border: none;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.35s;
}
.Window header button:hover {
  transform: scale(110%);
  filter: brightness(125%);
}
.Window header h2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  font-size: 1rem;
}
.Window header .icon {
  height: 24px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.Window .content {
  height: calc(100% - 38px);
  width: calc(100% - 4px);
  box-sizing: border-box;
  position: absolute;
  bottom: 2px;
  padding: 2vmin;
  left: 2px;
  overflow: hidden;
  overflow-y: auto;
}
.Window .md {
  white-space: "pre-wrap";
}

.maximized {
  height: calc(100dvh - 48px) !important;
  width: 100dvw !important;
  top: 0 !important;
  left: 0 !important;
  border-radius: 0 !important;
}

#taskbar {
  height: 48px;
  width: 100dvw;
  z-index: 359;
  position: fixed;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
  gap: 1vmin;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.0823529412), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 0px -2px 2px rgba(0, 0, 0, 0.1450980392);
}
#taskbar * {
  user-select: none;
}
#taskbar .tbicon {
  width: 25vmin;
  height: calc(100% - 1vmin);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1vmin;
  box-sizing: border-box;
  font-size: 2vmin;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1450980392), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 2px 2px 2px rgba(0, 0, 0, 0.2078431373);
  font-weight: lighter;
  line-height: 0;
  border-radius: 5px;
  gap: 0.5vmin;
  transition: 0.35s;
  user-select: none;
}
#taskbar .tbicon:hover {
  transform: scale(103.5%);
  filter: brightness(125%);
}
#taskbar .tbicon .tbi_icon {
  height: 100%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#taskbar #startbtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  width: 10vmin;
  padding: 0 2vmin;
  border: none;
  font-size: 2.65vmin;
  letter-spacing: 0.165vmin;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1450980392), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 2px 2px 2px rgba(0, 0, 0, 0.2078431373);
}
#taskbar #startbtn:hover {
  width: 12.5vmin;
}
#taskbar #startbtn:active {
  transition: 0.05s;
}

@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma.ttf");
}
#loading {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: 997;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vmin;
  pointer-events: auto;
}
#loading #loadingIcon {
  height: 50vmin;
  width: 100vmin;
  background-image: url("/assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  filter: drop-shadow(0px 0px 2vmin rgba(255, 255, 255, 0.3960784314));
}
#loading #loadingTips {
  color: gray;
  position: absolute;
  bottom: 2vmin;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Tahoma";
  font-size: 2vmin;
  height: auto;
  width: 35vmin;
  text-align: center;
}
#loading #loadingBar {
  height: 24px;
  width: 50vmin;
  margin-bottom: 15vmin;
  border: 3px gray solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  border-radius: 1vmin;
}
#loading #loadingBar #loadingIcons {
  height: calc(100% - 8px);
  position: absolute;
  top: calc(50% - (100% - 8px) / 2);
  width: fit-content;
  overflow: hidden;
  text-align: center;
  margin: 0;
  user-select: none;
  padding: 0;
  vertical-align: center;
  font-size: 1.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  background: rgb(0, 74, 255);
  background: -moz-linear-gradient(180deg, rgb(0, 74, 255) 0%, rgb(29, 158, 230) 30%, rgb(17, 78, 240) 70%, rgb(0, 39, 255) 100%);
  background: -webkit-linear-gradient(180deg, rgb(0, 74, 255) 0%, rgb(29, 158, 230) 15%, rgb(17, 78, 240) 46%, rgb(0, 39, 255) 100%);
  background: linear-gradient(180deg, rgb(0, 74, 255) 0%, rgb(29, 158, 230) 15%, rgb(17, 78, 240) 46%, rgb(0, 39, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004aff",endColorstr="#0027ff",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loadigIconsAni 3s linear infinite;
}

@keyframes loadigIconsAni {
  0% {
    transform: translateX(-15vmin);
  }
  100% {
    transform: translateX(65vmin);
  }
}
.fadeout {
  animation: fadeout 1s linear forwards;
  pointer-events: none !important;
  overflow: auto !important;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#startmenu {
  height: 65vmin;
  width: 55vmin;
  position: absolute;
  bottom: 48px;
  left: 0;
  z-index: 349;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  transition: 0.65s;
  transform: translateY(65vmin);
  filter: brightness(85%);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3333333333), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 2px 2px 2px rgba(0, 0, 0, 0.5843137255);
}
#startmenu #topbar {
  position: absolute;
  width: 100%;
  height: 18%;
  padding: 3vmin;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.65vmin;
}
#startmenu #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}
#startmenu .contents {
  position: absolute;
  top: 18%;
  height: 72%;
  width: 100%;
}
#startmenu .contents .left {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
}
#startmenu .contents .right {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
}

@font-face {
  font-family: "Lucida Console";
  src: url("/fonts/lucon.ttf");
}
#bsod {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0000ab;
  padding: 5vmin;
  color: #fff;
  font-family: "Lucida Console";
  font-size: 2vmin;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#bsod #bsodAsciiArt {
  white-space: pre;
  aspect-ratio: 1/1;
  width: 100vmin;
}
#bsod #bsodTextWrapper {
  width: calc(100dvw - 20vmin);
  height: calc(100dvh - 20vmin);
}
#bsod #bsodTextWrapper #bsodHelpInfo {
  width: 100vmin;
}

#notiwrapper {
  position: fixed;
  bottom: 48px;
  right: 0;
  height: 45vmin;
  width: 35vmin;
  padding: 1vmin;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1vmin;
}
#notiwrapper .notification {
  width: 100%;
  height: 7.5vmin;
  border-radius: 10px;
  padding: 0.5vmin 1vmin;
  transition: 0.35s;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3137254902), 4px 4px 3px rgba(0, 0, 0, 0.3137254902), 0px 0px 5px rgba(0, 0, 0, 0.3137254902) inset, 2px 2px 2px #000000;
}

.notification-ani-enter {
  opacity: 0;
  transform: translateX(40vmin);
}

.notification-ani-enter-active {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.5s, transform 0.5s;
}

#maximizePreview {
  height: calc(100dvh - 48px - 2vmin);
  width: calc(100dvw - 2vmin);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 48px + 2.5vmin));
  background: rgba(255, 255, 255, 0.7098039216);
  border: 1px #fff solid;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  transition: 0.35s;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
}

::-webkit-scrollbar {
  width: 1vmin;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  outline: 1px outset rgb(167, 167, 167);
  box-sizing: border-box;
  background: #cecece;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(155, 155, 155);
  outline: 1px outset rgb(167, 167, 167);
  box-sizing: border-box;
}

@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma.ttf");
}
#bxpgui {
  height: 100dvh;
  width: 100dvw;
  position: fixed;
  z-index: 90;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/bg.png");
  background-color: #000;
}
#bxpgui #winWrapper {
  z-index: 176;
}/*# sourceMappingURL=core.css.map */