@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/motiva.ttf");
}
#bp_gui {
  position: absolute;
  font-family: "Motiva Sans";
  color: #fff;
  top: 0;
  left: 0;
  background: linear-gradient(-185deg, #252550, #252540);
  background-attachment: fixed;
  height: 100%;
  padding: 2vmin;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vmin;
  padding: 3vmin;
}
#bp_gui .bp_sidebar {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 32.5%;
  max-width: 35vmin;
  background: linear-gradient(-185deg, #404085, #353565);
  border-right: 1px #707095 solid;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#bp_gui .bp_sidebar::-webkit-scrollbar {
  display: none;
}
#bp_gui .bp_sidebar #search {
  width: calc(100% - 1vmin);
  padding: 0.75vmin;
  margin-top: 0.5vmin;
  margin-left: 0.5vmin;
  border: none;
  border-radius: 5px;
  background: #505085;
  color: #fff;
  outline: none;
  margin-bottom: 0.5vmin;
}
#bp_gui .bp_sidebar #search::placeholder {
  color: #707095;
}
#bp_gui .bp_sidebar .bpsb_item {
  padding: 0.25vmin;
  padding-left: 1vmin;
  border-bottom: 1px #707095 solid;
  font-size: 2vmin;
  font-weight: 200;
  cursor: pointer;
  transition: 0.35s;
  user-select: none;
}
#bp_gui .bp_sidebar .bpsb_item:hover {
  padding-left: 1.5vmin;
  padding-right: 0;
  background: rgba(255, 255, 255, 0.35);
}
#bp_gui #bp_contents {
  position: absolute;
  height: 100%;
  left: min(32.5%, 35vmin);
  width: max(100% - 35vmin, 67.5%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
#bp_gui #bp_contents h2 {
  color: rgba(255, 255, 255, 0.8156862745);
  font-size: 2.65vmin;
  margin: 1vmin 1.5vmin;
  margin-bottom: 0;
}
#bp_gui #bp_contents ul, #bp_gui #bp_contents p {
  color: rgba(255, 255, 255, 0.7529411765);
  font-size: 1.65vmin;
  margin: 0 1.5vmin;
  list-style-type: none;
}
#bp_gui #bp_contents .banner {
  height: 40%;
  min-width: 40%;
  max-height: 40vmin;
  width: 100%;
  background: rgba(255, 255, 255, 0.3137254902);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#bp_gui #bp_contents .actionbar {
  height: 5vmin;
  width: 100%;
  background: #4e4e83;
  border-top: 1px #707095 solid;
  border-bottom: 1px #707095 solid;
  display: flex;
  flex-direction: row;
  padding: 0.5vmin;
  justify-content: flex-end;
}
#bp_gui #bp_contents .actionbar h1 {
  position: absolute;
  left: 0.5vmin;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5vmin;
  color: rgba(255, 255, 255, 0.8156862745);
  width: calc(100% - 16vmin);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#bp_gui #bp_contents .actionbar .playButton {
  padding: 0.5vmin 5vmin;
  border-radius: 5px;
  color: #fff;
  border: none;
  background: linear-gradient(-90deg, #19b14e, #4fc830);
  cursor: pointer;
  transition: 0.35s;
}
#bp_gui #bp_contents .actionbar .playButton:hover {
  transform: translateY(-0.35vmin);
}

#gl_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  margin: none;
  padding: none;
}

.bpsb_p {
  padding: 0.25vmin;
  padding-left: 1vmin;
  border-bottom: 1px #707095 solid;
  font-size: 2vmin;
  font-weight: 200;
  cursor: pointer;
  transition: 0.35s;
  user-select: none;
  color: #bcbcd5;
  background: #353565;
}/*# sourceMappingURL=style.css.map */