.button1 {
    padding: .5vmin 3.5vmin;
    color: #fff;
    margin: 1vmin 0;
    background: linear-gradient(165deg, lightgreen,green, darkgreen);
    cursor: pointer;
    transition: .35s;
    border: 1px lightgreen solid;
    box-shadow: 
        0px 0px 3px #00620325,
        0px 0px 5px #00620350 inset,
        2px 2px 2px #00620335;
    &:hover{
        transform: translateY(-.5vmin);
    }
    &:active{
        border: 1px green solid;
        background: #fff;
        color: green;
        transition: .2s;
    }
}
#win_welcome {
    hr {
        margin: 1vmin 0;
    }
}
#win_debugMenu {
    hr{margin: 1vmin 0;}
    .button1 {
        width: 50%;
    }
    // h3{margin-bottom: .5vmin;}
}
#win_changelog {
    h1 {
        font-size: 3.5vmin;
    }
    ul {
        padding-left: 3vmin;
    }
}