.button1 {
  padding: 0.5vmin 3.5vmin;
  color: #fff;
  margin: 1vmin 0;
  background: linear-gradient(165deg, lightgreen, green, darkgreen);
  cursor: pointer;
  transition: 0.35s;
  border: 1px lightgreen solid;
  box-shadow: 0px 0px 3px rgba(0, 98, 3, 0.1450980392), 0px 0px 5px rgba(0, 98, 3, 0.3137254902) inset, 2px 2px 2px rgba(0, 98, 3, 0.2078431373);
}
.button1:hover {
  transform: translateY(-0.5vmin);
}
.button1:active {
  border: 1px green solid;
  background: #fff;
  color: green;
  transition: 0.2s;
}

#win_welcome hr {
  margin: 1vmin 0;
}

#win_debugMenu hr {
  margin: 1vmin 0;
}
#win_debugMenu .button1 {
  width: 50%;
}

#win_changelog h1 {
  font-size: 3.5vmin;
}
#win_changelog ul {
  padding-left: 3vmin;
}

#win_settings h3 {
  font-size: 3vmin;
}
#win_settings .danger {
  font-size: 3vmin;
  color: #a30808;
}
#win_settings .dangerButton {
  padding: 0.5vmin 3.5vmin;
  color: #fff;
  margin: 1vmin 0;
  background: linear-gradient(165deg, pink, red, darkred);
  cursor: pointer;
  transition: 0.35s;
  border: 1px pink solid;
  box-shadow: 0px 0px 3px rgba(98, 0, 0, 0.1450980392), 0px 0px 5px rgba(98, 0, 0, 0.3137254902) inset, 2px 2px 2px rgba(98, 0, 0, 0.2078431373);
}
#win_settings .dangerButton:hover {
  transform: translateY(-0.5vmin);
}
#win_settings .dangerButton:active {
  border: 1px red solid;
  background: #fff;
  color: red;
  transition: 0.2s;
}
#win_settings label {
  font-size: 2vmin;
  margin: 0.5vmin 0;
}
#win_settings input[type=file] {
  display: none;
}
#win_settings textarea {
  width: 100%;
  height: 5rem;
  resize: vertical;
}
#win_settings .imageUpload {
  display: inline-block;
  padding: 0.5vmin;
  cursor: pointer;
  padding: 0.5vmin 3.5vmin;
  color: #fff;
  background: linear-gradient(165deg, lightgreen, green, darkgreen);
  cursor: pointer;
  transition: 0.35s;
  border: 1px lightgreen solid;
  box-shadow: 0px 0px 3px rgba(0, 98, 3, 0.1450980392), 0px 0px 5px rgba(0, 98, 3, 0.3137254902) inset, 2px 2px 2px rgba(0, 98, 3, 0.2078431373);
}
#win_settings .imageUpload:hover {
  transform: translateY(-0.5vmin);
}
#win_settings .imageUpload:active {
  border: 1px green solid;
  background: #fff;
  color: green;
  transition: 0.2s;
}

#win_paint iframe {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reqtxt {
  color: #909090;
  font-size: 1.5vmin;
}

.caption {
  font-size: 1.5vmin;
  text-align: left;
  width: 100%;
}

#win_beancloak .content {
  padding: 0vmin !important;
}
#win_beancloak .bc_head {
  height: 10vmin;
  width: 100%;
  background: url("/assets/beancloaked/header.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3.5vmin;
  gap: 0.5vmin;
  box-shadow: 0 0 1vmin #ca9c40, 0 0 5vmin #ead277;
}
#win_beancloak .bc_head h1 {
  font-size: 4vmin;
  text-shadow: 0 0 1vmin #ead277, 0 0 2vmin #ead277, 0 0 5vmin #ead277, 0 0 15vmin #ead277;
}
#win_beancloak .bc_head #bc_icon {
  height: 150%;
  aspect-ratio: 1/1;
  background: url("/icons/xp/Padlock.png");
  background-position: center;
  background-size: contain;
  filter: drop-shadow(0 0 1vmin #ead277) drop-shadow(0 0 2vmin #ead277) drop-shadow(0 0 5vmin #ead277) drop-shadow(0 0 15vmin #ead277);
}
#win_beancloak .bc_content {
  height: calc(100% - 10vmin);
  width: 100%;
  padding: 3.5vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
}
#win_beancloak .bc_content .caption {
  margin-bottom: 0.5vmin;
}/*# sourceMappingURL=App.css.map */