#firebean {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    #fb_contents {
        height: calc(100% - 7.5vmin);
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        // padding: 2vmin;
        .fb_url {
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        // background: pink;
    }
    #fb_urlbar {
        height: 4vmin;
        position: absolute;
        top: 3.5vmin;
        width: 100%;
        left: 0%;
        background: #afafaf;
        display: flex;
        flex-direction: row;
        gap: .25vmin;
        button {
            aspect-ratio: 1 / 1;
            height: calc(100% - 1vmin);
            display: flex;
            background: #d3d3d3;
            border: #9c9c9c 1px solid;
            outline: none;
            cursor: pointer;
            transition: .35s;
            &:hover {
                background: #ededed;
                transform: scale(105%);
            }
        }
        input {
            height: calc(100% - 1vmin);
            width: calc(100% - 1vmin - 10vmin);
            background: #d3d3d3;
            padding: 0 .5vmin;
            border: #9c9c9c 1px solid;
            outline: none;
            transition: .35s;
            &:hover {
                background: #ededed;
                transform: scale(101%);
            }
        }
    }
    #fb_createNewTab {
        height: calc(3.5vmin - 1vmin);
        aspect-ratio: 1 / 1;
        box-shadow: 0 0 .5vmin #222222c0;
        background: #afafaf;
        position: absolute;
        right: .5vmin;
        top: .5vmin;
        border: none;
        outline: none;
        z-index: 576;
        cursor: pointer;
        transition: .35s;
        &:hover {
            background: #bfbfbf;
            transform: scale(105%);
        }
    }
    #fb_tab_bar {
        background: #d3d3d3;
        height: 3.5vmin;
        width: 100%;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        padding: .5vmin;
        padding-bottom: 0;
        gap: .5vmin;
        &::-webkit-scrollbar {display: none;}
        -ms-overflow-style: none;
        overflow-y: hidden;
        overflow-x: auto;
        scrollbar-width: none;
        padding-right: 3.5vmin;
        // border-bottom: .5vmin #afafaf solid;
        .tab {
            width: 25vmin;
            background: #afafaf;
            padding: .5vmin;
            height: 3vmin;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: .5vmin;
            cursor: pointer;
            user-select: none;
            transition: .35s;
            // flex: none;
            .close {
                height: calc(100% - .5vmin);
                aspect-ratio: 1 / 1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: .25vmin;
                box-shadow: 0 0 .5vmin #222222c0;
                background: #afafaf;
                border: none;
                outline: none;
                cursor: pointer;
                transition: .35s;
                &:hover {
                    background: #d3d3d3;
                    transform: scale(105%) translateY(-50%);
                }
            }
            &:hover {
                background: #bfbfbf;
            }
            .icon {
                height: calc(100% - .5vmin);
                aspect-ratio: 1 / 1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                object-fit: contain;
                // background-image: url("/icons/xp/Information.png");
            }
            h1 {
                font-size: 2vmin;
                height: 100%;
                vertical-align: middle;
            }
        }
    }
}